*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Space Mono', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1:4.5rem;
        --fs-h2:3rem;
        --fs-h3: 1.25rem;
        --fs-body: 1.125rem;
    }
}

strong { font-weight: var(--fw-bold) ;}

html, body {
    overflow-x: hidden;
}

body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-size: var(--fw-reg);
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

.title {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h1);
    color: var(--clr-accent);
    text-align: center;
    margin: 0;
}

.subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.title_intro,
.title_projects,
.title_about {
    background-color: var(--clr-accent);
    font-family: var(--ff-secondary);
    text-align: center;
    padding: 1rem 0;
}

section {
    padding: 0em 0em;
    
}

/* Nav bar */
.navbar {
    padding: 1em 1em;
    margin: 0;
    background-color: var(--clr-dark);
}

.navbar ul li a {
    list-style: none;
    margin: 0.5em;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: var(--clr-accent);
}

a:link {
    color: white;
}

.navbar ul {
    display: flex;
    justify-content: right;
}

/* Intro */
.intro {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.side {
    color: white;
}

.side:first-child {
    margin-right: 20px;
    padding: 1em;
}

.title_intro {
    width: 100%;
    color: var(--clr-dark);
}

/* Projects */
.project_container {
    display: grid;
    margin: 1em;
    gap: 1em; 
}

.project {
    border: 1px dashed var(--clr-accent);
    padding: 0.5em;
}

/* Responsivedesign for project*/
/*Code about media and design*/
/*https://travishorn.com/responsive-grid-in-2-minutes-with-css-grid-layout-4842a41420fe*/
@media (min-width: 600px) {
    .project_container { 
        grid-template-columns: repeat(2, 1fr); 
    }
}
  
  
@media (min-width: 900px) {
    .project_container { 
        grid-template-columns: repeat(3, 1fr); 
    }
}

.title_project {
    align-items: center;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
}

.pimg {
    max-width: 100%;
}

/* Footer */
footer {
    display: flex;
    background-color: var(--clr-dark);
    padding: 1em 1em;
    color: white;
}

.social_media {
    flex-grow: 1;
}

.social_media ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social_media ul li {
    list-style: none;
    margin: 0.5em;
    font-size: 2.5em;
}

.contact_form {
    display: flex;
    flex-direction: column;
}




