*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Space Mono', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /* Refer color to this page 
    https://realtimecolors.com/?colors=fcf2f6-040102-22aa71-000000-22aa71 */

    --text: #fcf2f6;
    --background: #040102;
    --primary-button: #22aa71;
    --secondary-button: #000000;
    --accent: #22aa71;
}

@media (min-width: 800px) {
    :root {
        --fs-h1:4.5rem;
        --fs-h2:3rem;
        --fs-h3: 1.25rem;
        --fs-body: 1.125rem;
    }
}

strong { font-weight: var(--fw-bold) ;}

html {
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

body {
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-size: var(--fw-reg);
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    line-height: 1.1;
    font-size: 8vw;
    margin: 0rem;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    text-shadow: 4px 2px black;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

.title {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h1);
    color: var(--primary-button);
    text-align: center;
    margin: 0;
}

.subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.title_intro,
.title_projects,
.title_about {
    background-color: var(--primary-button);
    font-family: var(--ff-secondary);
    text-align: center;
    padding: 1rem 0;
}


section {
    padding: 0em 0em;  
}

/* Nav bar */
.nav {
    position: fixed;
    width: 100%;
    z-index: 2;
}

/* Change color when scrolled */
/* https://www.youtube.com/watch?v=gbmV2Lh9dBM */
.nav.scrolled {
    background-color: var(--clr-dark);
    transition: background-color 0.4s ease-in-out;
}

.nav {
    padding: 0.3em 0.3em;
    margin: 0;
    background-color: transparent;
    margin-right: 0.3em;

    pointer-events: none;
}

.nav.scrolled ul li a{
    color: white;
    pointer-events: painted;
    
}

.nav ul li a{
    list-style: none;
    margin: 0.5em;
    font-size: 1.5em;
    color: transparent;
    text-decoration: none;
}

.nav ul li a:hover {
    color: var(--clr-accent);
}

a:link {
    color: white;
}

.nav ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
}

@media (max-width: 600px) {
    .nav ul { 
        justify-content: center;
    }
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0.5em;

    min-height: 100vh;
    margin-top: 1em;
}

.intro-img {
    border-radius: 50%;
    max-width: 100%;
    border: white 5px solid;
    width: 300px;
    height: auto; 
}

.intro-img:hover {
    scale: 1.1;
}

.title_intro {
    padding: 0.5em;
}

.subtitle {
    padding: 1em;
}



/* Projects */

/* Really good generated template
.projects {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: var(--clr-dark);
    color: white;
    padding: 1em;
}
 */

.project_container {
    display: grid;
    margin: 1em;
    gap: 1em;
    padding: 1rem;

    
    min-height: 100%;
}

.project_container a {
    text-decoration: none;
    color: var(--text);
    font-size: 50px;

}
.project {
    border: 1px dashed var(--clr-accent);
    padding: 0.5em;
    
    overflow: hidden;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}



/* Pop up animation when hovered
https://blog.avada.io/css/card-hover-effects */
.project:hover {
    transform: translateY(-5px) scale(1.0010) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
        0 24px 46px var(--box-shadow-color);
}

/* Responsivedesign for project*/
/*Code about media and design*/
/*https://travishorn.com/responsive-grid-in-2-minutes-with-css-grid-layout-4842a41420fe*/

@media (max-width: 600px) {
    .project_container {
        grid-template-columns: repeat(1, auto);
        height: auto; 
    }
}

@media (min-width: 900px) {
    .project_container { 
        grid-template-columns: repeat(3, auto);
        height: auto;
    }

    .centered {
        grid-column: 2 / 3;
        justify-self: center;
    }
}

@media (max-width: 900px) {
    .project_container { 
        height: auto;
    }
}

.title_project {
    align-items: center;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
}

.pimg {
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    max-height: 300px;
    width: 100%;
}

/* Footer */
footer {
    background-color: var(--clr-dark);
    padding: 1rem;
}

.footer_container {
    display: flex;
}

.left, .right {
    flex: 50%;
    padding: 1rem;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left .icons {
    font-size: 7rem;
}

.left a {
    color: gray;
}

.right {
    font-family: "Rubik", sans-serif;
}

.btnholder {
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.btnholders a {
    margin: 0.5em;
}

@media (max-width: 600px) {
    .footer_container { 
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    .footer_container { 
        flex-direction: column;
    }
}

input[type=text], select, textarea, #email {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}
  
  
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #0a6e0f;
}

/* Animation */

/* Animation by fireship with Intersection Observer */
/* https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API */
/* https://www.youtube.com/watch?v=T33NN_pPeNI */
.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateX(0);
}







  





